  <div>
    <div>
      Task Name: <input type="text" [(ngModel)]="task.name">
    </div>
    <div>
      Deadline: <input type="text" [(ngModel)]="task.deadline">
    </div>
    <div>
      # pomodoros: <input type="text" [(ngModel)]="task.pomodorosRequired">
    </div>
    <div>
      <button (click)="save()">Add Task</button>
    </div>
  </div>


<!--
  <div>
    <div>
      Task Name: <input type="text">
    </div>
    <div>
      Deadline: <input type="text">
    </div>
    <div>
      # pomodoros: <input type="text">
    </div>
    <div>
      <button (click)="save()">Add Task</button>
    </div>
  </div>

-->