<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand">My Pomodoro App</strong>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['']" routerLinkActive="active">Tasks</a></li>
      <li><a [routerLink]="['/timer']" routerLinkActive="active">Timer</a></li>
      <li><a [routerLink]="['/task/editor']" routerLinkActive="active">Publish Task</a></li>
    </ul>

  </div>
</nav>

<!--
<pomodoro-timer-widget></pomodoro-timer-widget>
<pomodoro-tasks></pomodoro-tasks>
-->
<router-outlet></router-outlet>